.navbar-container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;

}

.logo-pokebola{
 height: 50px;
 width: 50px;
}

.logo-pokedex{
    height: 50px;
    width: 50px;
}

.list-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style-type : none;
}

.category-button{
    background-color: transparent;
    border: none;
    color: #000000;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: all 0.3 ease-in-out;
}

.cardPokemones{
    display: flex;
    justify-content: center;
    border: solid;
    color: #000;
    margin: 10px;
}
.contadorPokemon{
display: flex;
justify-content: space-around;
align-items: center;
padding: 5rem;
}

.botonListo{
    display: flex;
    justify-content: space-around;
    
    
}